:root {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100vw;
  max-width: 100%;
  /*position: fixed;*/
  top: 6rem;
  position: absolute;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44.3rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.192rem;
}

.logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.13rem;
}

.list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
  padding-top: -0.7rem;
  border-bottom: solid 0.3rem rgba(0, 0, 0, 0);
}

.list__link:hover {
  border-bottom: solid 0.3rem #F1CDB3;
}

.list__link_disabled {
  color: #CDCDCD;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18rem;
  background: url(../../assets/images/start-screen-gradient-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  width: 100%;
  max-width: 69.8rem;
  max-height: 72.8rem;
}

.content-section {
  padding-bottom: 8rem;
  max-width: 46.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-section__title {
  max-width: 31rem;
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
}

.content-section__subtitle {
  margin-top: 4.2rem;
  font-size: 1.5rem;
  color: #CDCDCD;
  font-family: Arial;
  line-height: 160%;
}

.content-section__button {
  margin-top: 4rem;
  background-color: #F1CDB3;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-section__button:hover {
  background-color: #FDDCC4;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 69px;
}

.about__image {
  width: 300px;
  height: 408px;
  margin-left: 55px;
}

.about__content {
  width: 50%;
  margin-top: 95px;
  margin-right: 10px;
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Georgia;
  font-style: normal;
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  font-family: Arial;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 160%;
}

.about__description-p {
  width: 430px;
  margin-bottom: 25px;
}

.pets {
  display: none;
}
/*# sourceMappingURL=main.css.map */